@font-face {
    font-family: 'Nuances Condensed Condensed';
    src: url('NuancesCondensed-BoldItalicTrial.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

